# Database Connection String for NeonDB
DATABASE_URL=postgresql://user:password@host.tld/dbname?sslmode=require

# SCB Transaction Generator Default Debit Account
NEXT_PUBLIC_SCB_DEBIT_ACCOUNT=0001914137101
